<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>192.168.0.49</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.0.49</MSDeployServiceURL>
    <DeployIisAppPath>TheBeerWar</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>WIN-UVDMUO7K0NL\Skali</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.0.49;Initial Catalog=QA_TheBeerWar;Integrated Security=False;User ID=Skali;Password=mDpSQl8664.top;Application Name=EntityFrameworkMUE" Name="Data Source=192.168.0.49;Initial Catalog=QA_TheBeerWar;User Id=Skali;Password=mDpSQl8664.top;Integrated Security=False;MultipleActiveResultSets=True;Application Name=EntityFrameworkMUE" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TheBeerWar.Models.ApplicationDbContext, TheBeerWar" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BeerDBContex" Order="2" Enabled="False">
          <Destination Path="Data Source=192.168.0.49;Initial Catalog=QA_TheBeerWar;Integrated Security=False;User ID=Skali;Password=mDpSQl8664.top;Application Name=EntityFrameworkMUE" Name="Data Source=192.168.0.49;Initial Catalog=QA_TheBeerWar;User Id=Skali;Password=mDpSQl8664.top;Integrated Security=False;MultipleActiveResultSets=True;Application Name=EntityFrameworkMUE" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.49;Initial Catalog=DEV_TheBeerWar;Integrated Security=False;User ID=Skali;Password=mDpSQl8664.top;Application Name=EntityFrameworkMUE" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BeerDBContex_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.49;Initial Catalog=DEV_TheBeerWar;User Id=Skali;Password=mDpSQl8664.top;Integrated Security=False;MultipleActiveResultSets=True;Application Name=EntityFrameworkMUE" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BeerDBContex-Web.config Connection String">
      <ParameterValue>Data Source=192.168.0.49;Initial Catalog=QA_TheBeerWar;User Id=Skali;Password=mDpSQl8664.top;Integrated Security=False;MultipleActiveResultSets=True;Application Name=EntityFrameworkMUE</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=192.168.0.49;Initial Catalog=QA_TheBeerWar;User Id=Skali;Password=mDpSQl8664.top;Integrated Security=False;MultipleActiveResultSets=True;Application Name=EntityFrameworkMUE</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>